body{background-color: palegreen;}
.enviar{
    text-align: center;
    color: white;
    background-color:rgb(25, 3, 146);
    border: 3px solid blue;
    border-radius: 3px;
    opacity: 0.6;
    transition: 0.3s;
}
.pika{
    position:relative;
    left: 120px;
    bottom: 80px;
}
.xd{
    position:relative;
    bottom: 60px;
}
